<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1 style="color: #333; font-size: 24px; text-align: center; margin-bottom: 20px;">Movies</h1>

<%= form_with(url: movies_path, method: :get, local: true, class: 'search-form') do %>
  <div>
    <%= label_tag :query, "Search Movies:" %>
    <%= text_field_tag :query, params[:query], placeholder: "Search by title", class: 'search-input' %>
    <%= submit_tag "Search", class: 'search-button' %>
  </div>
<% end %>

<%= link_to "Sort by Title", movies_path(sort: "title", direction: (params[:direction] == "asc" ? "desc" : "asc")), class: 'sort-link' %> |
<%= link_to "Sort by Date", movies_path(sort: "created_at", direction: (params[:direction] == "asc" ? "desc" : "asc")), class: 'sort-link' %>

<table class="movies-table">
    <tr>
      <th>Title</th>
      <th>Release Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie, index| %>
      <tr style="<%= index.even? ? 'background-color: #f2f2f2;' : 'background-color: #ffffff;' %>">
        <td><%= movie.title %></td>
        <td><%= movie.release_date.strftime('%B %d, %Y') if movie.release_date %></td>
        <td>
          <%= link_to "Show", movie, class: 'action-button show-button' %> |
          <%= link_to "Edit", edit_movie_path(movie), class: 'action-button edit-button' %> |
          <%= link_to "Delete", movie, method: :delete, data: { confirm: "Are you sure?" }, class: 'action-button delete-button' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path, class: 'new-movie-link' %>
