<<<<<<< Tabnine <<<<<<<
<p style="color: green"><%= notice %></p>#-
<% content_for :title, "Movies" %>

<h1>Movies</h1>#-
#-
<div id="movies">#-
  <% @movies.each do |movie| %>#-
    <%= render movie %>#-
    <p>#-
      <%= link_to "Show this movie", movie %>#-
    </p>#-
<div class="movies-container">#+
  <% if notice.present? %>#+
    <div class="notice">#+
      <%= notice %>#+
    </div>#+
  <% end %>
</div>#-

<%= link_to "New movie", new_movie_path %>#-
  <h1>Movies</h1>#+
#+
  <table class="movies-table">#+
    <thead>#+
      <tr>#+
        <th>Title</th>#+
        <th>Rating</th>#+
        <th>Release Date</th>#+
        <th>Description</th>#+
        <th>Actions</th>#+
      </tr>#+
    </thead>#+
    <tbody>#+
      <% @movies.each do |movie| %>#+
        <tr>#+
          <td><%= movie.title %></td>#+
          <td><%= movie.rating %></td>#+
          <td><%= movie.release_date %></td>#+
          <td><%= truncate(movie.description, length: 100) %></td>#+
          <td><%= link_to "Show details", movie, class: "movie-link" %></td>#+
        </tr>#+
      <% end %>#+
    </tbody>#+
  </table>#+
#+
  <div class="new-movie-link">#+
    <%= link_to "Add New Movie", new_movie_path, class: "btn-new-movie" %>#+
  </div>#+
</div>#+
>>>>>>> Tabnine >>>>>>># {"source":"chat"}
