<<<<<<< Tabnine <<<<<<<
<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<%= link_to "Sort by Title", movies_path(sort: "title", direction: (params[:direction] == "asc" ? "desc" : "asc")), class: 'sort-link' %> |#-
<%= link_to "Sort by Date", movies_path(sort: "created_at", direction: (params[:direction] == "asc" ? "desc" : "asc")), class: 'sort-link' %>#-
<%= form_tag movies_path, method: :get, class: 'search-form' do %>#+
  <%= text_field_tag :search, params[:search], placeholder: "Search movies by title", class: 'search-input' %>#+
  <%= submit_tag "Search", class: 'search-button' %>#+
<% end %>#+

<%= link_to "Sort by Title", movies_path(sort: "title", direction: (params[:direction] == "asc" ? "desc" : "asc"), search: params[:search]), class: 'sort-link' %> |#+
<%= link_to "Sort by Date", movies_path(sort: "created_at", direction: (params[:direction] == "asc" ? "desc" : "asc"), search: params[:search]), class: 'sort-link' %>#+
<table style="width: 100%; border-collapse: collapse;">
  <thead style="background-color: #4CAF50; color: white;">
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie, index| %>
      <tr style="<%= index.even? ? 'background-color: #f2f2f2;' : 'background-color: #ffffff;' %>">
        <td><%= movie.title %></td>
        <td>
          <%= link_to "Show", movie, class: 'action-link' %> |
          <%= link_to "Edit", edit_movie_path(movie), class: 'action-link' %> |
          <%= link_to "Delete", movie, method: :delete, data: { confirm: "Are you sure?" }, class: 'action-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path, class: 'new-movie-link' %>
>>>>>>> Tabnine >>>>>>># {"source":"chat"}
