<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<%= form_tag(movies_path, method: :get, class: "search-form") do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search by title", class: "search-input" %>
  <%= submit_tag "Search", class: "search-button" %>
<% end %>

<%= link_to "Sort by Title", movies_path(sort: "title", direction: (params[:direction] == "asc" ? "desc" : "asc")), class: 'sort-link' %> |
<%= link_to "Sort by Date", movies_path(sort: "created_at", direction: (params[:direction] == "asc" ? "desc" : "asc")), class: 'sort-link' %>

<table class="movie-table">
  <thead class="table-header">
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index do |movie, index| %>
      <tr class="<%= index.even? ? 'even-row' : 'odd-row' %>">
        <td class="movie-title"><%= movie.title %></td>
        <td class="movie-actions">
          <%= link_to "Show", movie, class: 'action-link' %> |
          <%= link_to "Edit", edit_movie_path(movie), class: 'action-link' %> |
          <%= link_to "Delete", movie, method: :delete, data: { confirm: "Are you sure?" }, class: 'action-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path, class: 'new-movie-link' %>
