<% content_for :title, @movie.title %>

<div class="movie-show-container">
  <h1><%= @movie.title %></h1>

  <div class="movie-details">
    <p>
      <strong>Release date:</strong>
      <%= @movie.release_date.strftime('%B %d, %Y') if @movie.release_date %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= @movie.rating %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @movie.description %>
    </p>
  </div>

  <%= link_to "Edit", edit_movie_path(@movie), class: "edit-link" %> |
  <%= link_to "Back", movies_path, class: "back-link" %>
</div>
